---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ACsms - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/xiaohui.ico">
				<h1>山西思软科技有限公司</h1>
				<p>独家赞助<br>
					-----------------------</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">企业简介</h2>
							<time></time>
							<img src="images/000011.BMP">
							<ul>
								<li>
山西思软科技有限公司成立于2010年，是一家集软件开发、实训就业、创新创业于一体的国家高新技术企业。总部坐落于太原高新区软件园，总占地面积一万多平米，业务范围涵盖了IT人才实训、软件开发、电子商务、职业培训、创新创业服务等多个领域。公司现设有研究院1个、事业部4个、实训基地3个。其中产业人才实训业务、软件开发业务、“双创”业务三大业务板块相互促进、相互融合，构成公司核心业务体系。

								</li>
								<li class="skill">
									<span><b> Sarm</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="https://yanshuo.io">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">软件开发业务板块</h2>
							<time></time>
							<img src="images/000013.BMP">
							<ul>
								<li>
									公司具备“双软”资质，已完成软件项目102项，拥有著作权14项；软件研发项目涉及能源、金融、医疗、教育、交通、旅游、化工、移动通讯、电子商务等9大领域。公司于2012年被工信部授予“全国软件服务外包指导委员会常务理事单位”。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Sram</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="http://piaofang.wepiao.com">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="busyweek">实训业务板块</h2>
							<time></time>
							<img src="images/hao4.jpg">
							<ul>
								<li>
									经过七年行业深耕，公司已发展成为山西省最大的大学生软件实训基地。公司与山西省内近60所高校及省外10余所高校建立了深度校企合作关系，累计培养合格的软件工程师6000余人，累计接待院校实习实训30000余人次，日常在训学员800余人。公司还与全国1000余家企业建立了人才战略合作关系，学员首次工作平均薪资4800元。公司于2012年被工信部授予“全国工业和信息化人才培养综合服务平台认定测评中心”；2013年被山西省经信委唯一授予“山西省软件人才实训基地”；2015年被共青团山西省委授予“山西青年创业就业见习基地”；2016年与百度营销大学合作，成为山西唯一一家百度营销大学授权培训中心；2017年与德国China Window合作，共建中德智能制造信息化专业技能人才实训基地。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Sram</b></span>
									<span class="i-vue"></span>
									<span class="link"><a target="_blank" href="http://huangxuan.me/BusyWeek/dist/">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>“双创”业务版块</h2>
							<time></time>
							<img src="images/waijin.jpg">
							<ul>
								<li>
									公司于2014年策划组织了山西省“创青春”大学生创业大赛，于2015年被太原高新区认定为众创空间，2016年10月被山西省科学技术厅认定为省级众创空间。目前，已有带项目入驻众创空间的创业团队8个，创业公司14家；并已经形成由企业家、大型企业资深高管、创投公司合伙人等组成的近百名创业导师团队。
公司推出2016“思软+”战略，包括：思软+大数据与云计算、思软+移动互联网、思软+信息安全、思软+媒介关系规划、思软+电商、思软+2025中国制造。2016“思软+”战略是基于产业人才供给体系的高新产业规划。公司旨在通过“人才拉动产业升级”，立足于产业，服务高等教育。
未来，公司将成为集人才实训、人才输出、软硬件研发为一体，培养国家紧缺型服务外包人才，成为中国IT产业人才的“黄埔军校”，中国软件实训体系标准的制定者，并把成熟的IT实训模式复制到其他领域和专业中去。公司将成为山西最大的本科、研究生实训基地、博士工作站、院士工作站、协同创新中心，成为全国知名人才服务外包基地。扎根于发展中的山西，服务华北，服务全国！

								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Sram</b></span>
									<a href="https://github.com/kissyteam/kissy"><span class="i-kissy"></span></a>
									<span class="link"><a target="_blank" href="http://alitrip.com">alitrip.com</a></span>
								</li>
							</ul>
						</div>
					</li>
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>SENOVA WebApp</h2>
							<img src="images/senova.jpg">
							<ul>
								<li>《多媒体交互设计一》结课作业，以北汽“绅宝”为目标品牌，iPad 为主要平台进行的 App 设计，旨在用一种可交互的方式介绍“绅宝”车型。完全采用 Html5 技术开发，可添加至主屏幕离线运行。着力于触控交互体验的优化与优雅的动画设计。</li>
								<li>Responsible : Front-End，Interaction，Product</li>
								<li>Partner : ZOE-张瑜</li>
								<li class="skill">
									<span class="cbp_tmicon-html"></span>
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="http://huangxuan.me/senova/">Link</a></span>
								</li>
							</ul>
						</div>
					</li>-->
					<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">软件园实训基地</h2>
							<time></time>
							<img src="images/work-hslider.jpg">
							<ul>
								<li>
									软件园实训基地位于太原市高新区山西软件园，占地面积2000平方米左右，可同时容纳800余名学生参加培训。软件园实训基地作为思软科技总部，办公环境优美，与高新区内众多信息技术企业相邻，地理位置优越。软件园实训基地同时也是众创空间的办公场所，能够为创业者提供创业辅导、管理咨询、交流培训、基础设施、人才引进、融资投资等服务。
								</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>Sram</b></span>
									<span class="i-jquery"></span>
									<span class="link"><a target="_blank" href="http://www.tudou.com/programs/view/Xa-pGW55N4g/">Github</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>吕梁实训基地</h2>
							<time></time>
							<img src="images/work-truth.jpg">
							<ul>
								<li>吕梁实训基地座落于吕梁市离石区吕梁学院，总占地面积约5000多平方米，以培养学生成为高素质的技术应用型人才为目标。吕梁实训基地配有电子阅览室（大学生图文信息阅览中心）和电教中心。总投入电脑1000余台，各种配套设施设备完善。电教中心共有8个实训教室，配套电脑及外接设备、网络、各类服务器、电脑桌椅等。基地可同时容纳1000余人实习实训。为吕梁学院在校学生学习实践提供设备完善、环境一流的学习场所；为教师提供先进配套的教学设施，同时对外承接社会技能培训与考核鉴定等业务。
								<li class="skill">
									<span><b> Sram</b></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="">View</a></span>
								</li>
							</ul>
						</div>
					</li>
					<!--<li>
						<div class="cbp_tmlabel">
							<h2>Intern @LxU Studio</h2>
							<time>2013.06 - 08</time>
							<img src="images/intern-lxu.jpg">
							<ul>
								<li>
									As a <b>Intern Motion Graphic Designer</b>, I participated in several creative advertising virus videos for our clients including Baidu and Continental.
								</li>
								<li class="skill">
									<span><b>Ae</b></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="http://weibo.com/lxustudio">@LxU</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>Puzzled Hybrid</h2>
							<time>2013.06</time>
							<img src="images/work-puzzle.png">
							<ul>
								<li> This font is parts of the course work of <b>Design Basis</b>, which mix Serif fonts, Sans-serif fonts and...zebra-stripe! Why I design it like that is still a puzzle to me, and the intro video is available below.
								<li class="skill">
									<span class="cbp_tmicon-font"></span>
									<span><b>Ps</b></span>
									<span><b>Ae</b></span>
									<span class="link"><a target="_blank" href="http://www.tudou.com/programs/view/DtG8SaFAoXU/">View</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>Home - UI Design</h2>
							<time>2012.11</time>
							<img src="images/work-uihome.jpg">
							<ul>
								<li>
									Participated in the students team with Huang Yi and Nie Ruijie as the UI Motion Designer. Won the first prize in 7th national IT application competition
								</li>
								<li class="skill">
									<span><b>Fl</b></span>
									<span class="link"><a target="_blank" href="http://animation.cuc.edu.cn/2c90943227f186ba0127f18a7ff10009/view/394">News</a></span>
								</li>
							</ul>
						</div>
					</li>
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <!-- <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						 <!--</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		 <!--<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
